*{
    font-family: 'Roboto Mono', monospace;
}
:root{
   --background-color:  #c4e4f3;
   --accent1-color: #EFBCD5;
   --accent2-color: #061e2e;
   --accent3-color: #204C36;
   --font-weight-light: 100;
   --font-weight-medium: 400;
   --font-weight-semibold: 600;
   --font-weight-bold: 900;

}


html{
    scroll-behavior: smooth;
}
header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    top: 0;
    color:var(--accent3-color);
    font-weight: var(--font-weight-semibold);
    vertical-align: center;
    font: 12px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: sticky;
    top: 0;
    animation: openUp 1s;
}
.social-media-icons{
    padding-left: 60px; padding-top: 15px;
    animation: openUp 1s;
}
body {
    background-color: var(--background-color);
    margin: 0;
} 
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: normal;
    
}
i {
    display: flex;
    flex-direction: row;
    color:  var(--accent2-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
section.about-me-section {
    background-color: var(--accent2-color);
    min-height: 34em;
    }
.about-me-flex-block{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}
.block-wrap-1{
    flex: 1 1 4px;
    min-width: initial;
    border-radius: 0.25em;
    padding: 1em;
    transition: all 1s ease;
    word-break: break-all;
}
h1 {
    color: var(--accent2-color);
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    text-align: center;
 
}
h2 {
    color: var(--accent3-color);
    font-weight: var(--font-weight-medium);
    font-size: 25px;
    text-align: left;
}
.flex {
      display: flex;
      /* flex-wrap: nowrap; */
  }
p {
    color: var(--accent2-color);
    font-weight: var(--font-weight-light);
    font-size: 20px;
    text-align: left;
}
p.about-me {
    color: var(--background-color);
    font-weight: var(--font-weight-medium);
    line-height: 1.5em;
    font-size: 1.2em;
    margin-left: 5%;
    margin-right: 2%;
    text-align: left;
}
h1.about-me{
    line-height: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    color:  var(--accent1-color);
    font-weight: var(--font-weight-medium)

}
a {
    color: var(--background-color);
    font-weight: var(--font-weight-medium);
    font-size: 25px;
    text-decoration: none;
}
.active, a:hover{
    color:#EFBCD5
}
.collapsible {
    background-color: var(--accent2-color);
    color: var(--background-color);
    cursor: pointer;
    padding: 18px;
    max-width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
nav{
    color:var(--accent3-color);
    font-weight: var(--font-weight-medium);
    vertical-align: center;
    background: transparent;
    font: 12px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: fixed;
    top: 0;
    animation: openUp 1s;
}
#logo { 
    padding-left: 10px;
    padding-right: 10px; 
    animation: openUp 1s;
}
#logo.past-about{
    position: sticky;
    top: 0;
}
.flex h2 span.typed-text{
    font-weight: var(--font-weight-bold);
    color: var(--accent2-color);
    text-align: center;
}
.flex h2 span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    max-width: 3px;
    animation: blink 1s infinite;
    text-align: center;
    padding: 50px 0px;
  }
  .flex h2 span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: var(--background-color); }
    49% { background-color: var(--accent1-color); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: var(--accent2-color); }
  }
  #effect { 
      text-align: center;
      padding: 0px 25px 0px 0px;
      font-weight: var(--font-weight-semibold);
      font-style: italic;
  }

  #photo-1 { 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #intro { 
      background-image: url("https://lh3.googleusercontent.com/a8BB_MXoU55yuwcztsWp23PqcEwv__QbyNlrpDW4Kct7Qs7Oy69W9shzLWEsCJChCz37mhGRgEzkowFTAiHNYGBfBoD4PnH_C6anIARQO39LYO-ZXGMn6jJywERF0wERZYunWqn0=w2400");
      height: 500px;
      margin: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  } 
li { 
    text-align: left;
    list-style-type: square;
}
li.nav {
   list-style-type: none;
    float: right;
    padding: 3px 3px 0px 0px; 
    color: var(--accent2-color);
    
}
@keyframes openUp {
    0%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(0%);
    }
}
#myName { 
    animation: openUp 1s;
}
#skills{
    background-color: var(--accent1-color);
    display: flex;
    
}
#gridSkills {
    display: grid;
    /* height: 600px; */
    grid-template-columns: auto auto;
    grid-gap: 25px 50px;
    grid-column: auto;
    text-align: center;
    font-size: 18px;
    margin: 20px 20px; 
    /* justify-content: space-around; */
    /* align-content: space-evenly; */
}
h3 { 
    color: var(--accent3-color);
}
h4 {
    color: var(--accent2-color)
}

#gridProjects {
    display: grid;
    /* height: 600px; */
    grid-template-columns: auto auto;
    grid-gap: 25px 50px;
    grid-column: auto;
    text-align: center;
    font-size: 18px;
    margin: 20px 20px; 
    /* justify-content: space-around; */
    /* align-content: space-evenly; */
}
.project-box{
    background-color: var(--accent1-color);
    box-shadow:  0 4px 6px 0 var(--accent3-color), 0 1px 6px 0 var(--accent3-color);
    /* border-radius: 9%; */
}
.project{
    text-align: center;
    font-size: 15px;
    margin: 5 5 5 5;
}
a.project{
    color: var(--accent3-color);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    font-size: 15px;
}
.active, a.project:hover{
    color:var(--accent2-color);
}
.button{
    background-color: var(--accent3-color);
    /* border-radius: 5%; */
    display:inline;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 10px 10px;
    
}
p.button{
    font-size: 20px;
    color: var(--accent1-color);
}
a.skills{ 
    color: var(--accent2-color);
    font-size: 15px;
}

.active, a.skills:hover{
    color: var(--accent3-color);
}